.header {
    background-color: '#23251C' !important;
    box-shadow: 'none' !important;
}

a {
    text-decoration: none !important
}

Button {
    font-family: 'Fira Code' !important;
    font-size: large !important;
    text-transform: none !important;
}
